body{
  background-color: rgb(65, 140, 214);
  .box {
    width: 300px;
    height: 300;
    padding: 30px;
    margin: 20px;
    border: 1px solid #fcf6f6;
    background-color: #22c7b9;
}
}
h1 {
  color: rgb(236, 242, 246);
  }
h2 {
  color: rgb(236, 242, 246);
  }
  ul li {
    color:rgb(0, 0, 0);
}
.linea {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}